#headerArea {
  background-color: dimgray;
  height: 50px;
  text-align: center;
  color: white;
}

#main {
  position: relative;
  width: 400px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

#counterArea {
  text-align: center;
}

.content {
  position: absolute;
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  font-weight: bold;
}

#updateCounter {
  color: white;
  font-size: 1.3em;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#content0 {
  top: 25%;
  left: 45%;
}

#content1 {
  top: 30%;
  left: 35%;
}
#content2 {
  top: 40%;
  left: 25%;
}

img {
  width: 80%;
}

.interface {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #228b22;
  color: #fff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
}

.btn-circle-flat:hover {
  background: #006400;
}

ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 200px;
  gap: 10px;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}
